<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

    <div class="box box-primary">
        
        <div class="box-header">
            <h2 class="box-title">decimal-> binario, octal y haxa.</h2>
        </div>
        
        <div class="box-body">
                        
            <div class="form-group">
                
                <div class="input-group margin-bottom">                    
                    <label class="input-group-addon" > Numero</label>                
                    <input 
                        ng-change="dec2bin();"
                        ng-model="inEdit.number"        
                        type="number"                                                  
                        required
                        class="form-control text-right" >                                            
                </div> <!--/.imput-group-->                
            </div>
        </div>
        
    </div>

    <div class="col-md-4"
         ng-repeat="( key, _sistema) in sistemas">
        <div class="box box-danger">     

            <div class="box-header">
                <h2 class="box-title text-uppercase">{{key}}</h2>
            </div>

            <div class="box-body">
                <h3 class="text-uppercase"> Resultado : {{ _sistema.rta }} </h3>                
                </br>
                Necesitamos al menos {{_sistema.bitsCount}} bits para representar {{inEdit.number}} 
            </div>
        </div>  
    </div>
