<div class="modal" ng-show="confirmarAccion.show && !messageStatus.show">
    <div class="modal-dialog">
        <div class="modal-content" ng-class="">
            <div class="modal-header">
                
                <button ng-click="confirmarAccion.onCancel.acion();"
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                
                <h4 class="modal-title">{{confirmarAccion.titulo}}</h4>
            </div>
            <div class="modal-body text-center">  
                <p ng-repeat="msg in confirmarAccion.mensaje" >
                    {{msg}}
                </p>
            </div>
            <div class="modal-footer">
              <button ng-click="confirmarAccion.onCancel.acion();" 
                    type="button" class="btn btn-outline pull-left btn-default" data-dismiss="modal">
                  {{confirmarAccion.onCancel.texto}}
              </button>
              <button ng-click="confirmarAccion.onOk.acion();"
                  type="button" class="btn btn-outline btn-primary">
                  {{confirmarAccion.onOk.texto}}
              </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> 