/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/04/2016, 20:15:54
    Author     : Pablo
*/

ng-inline-edit--validating:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(ajax-loader.gif);
}

.ng-inline-edit--validating .ng-inline-edit__input {
  background: #fff;
  opacity: .4;
}

.ng-inline-edit--error .ng-inline-edit__input {
  color: #f00;
}

.ng-inline-edit__button {
  font-size: 0;
  margin-left: 5px;
  visibility: hidden;
  opacity: .6;
}

.ng-inline-edit__button:hover {
  opacity: 1;
}

.ng-inline-edit:hover .ng-inline-edit__button,
.ng-inline-edit .ng-inline-edit__button--save,
.ng-inline-edit .ng-inline-edit__button--cancel {
  visibility: visible;
}
.ng-isolate-scope{
    width: 100%;
}
.ng-inline-edit__input{
    width: 65px;
    position: relative;
    float: left;
}
ng-inline-edit__inner-container{
    position: relative;
    float: left;
}
.ng-inline-edit__button:after {
  font-size: 14px;
  line-height: 14px;
}

.ng-inline-edit__button--edit:after {
  content: "\270E";
  color: #00f;
}

.ng-inline-edit__button--save:after {
  content: "\2714";
  color: #0f0;
}

.ng-inline-edit__button--cancel:after {
  content: "\2716";
  color: #f00;
}
