@page {
    size: 21cm 29.7cm;
    margin: 0.7cm 0.3cm 0.5cm 0.3cm; /*change the margins as you want them to be. */
}
.print-a4-half{
    height: 14.25cm;
}
.print-a4-half .table>tbody>tr>td, 
.print-a4-half .table>tbody>tr>th, 
.print-a4-half .table>tfoot>tr>td, 
.print-a4-half .table>tfoot>tr>th, 
.print-a4-half .table>thead>tr>td, 
.print-a4-half .table>thead>tr>th{
    padding: 1px 8px;
}
tags-input .host{
    margin: 0;
}
.print-a4-half .min-print-font,
.print-a4-half .min-print-font h4{
    margin: 0;
    padding: 0;
    font-size: 12px;
}