    
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" ng-controller="LeftCtrl">
    <!-- Sidebar user panel -->
    <div class="user-panel" style="min-height: 45px;">
        <div class="pull-left image">
            <img ng-src="http://sistema.net.ar/common/profiles/pablo.jpg" class="img-circle" alt="Pablo Garcia Solanellas" />
        </div>
        <div class="pull-left info">
            <p>Pablo García</p>
            <a href="">
                <i ng-class="status.cssStyle" class="fa fa-circle"></i> 
                {{status.label}}
            </a>
        </div>
    </div>
    <!--
    <form name="forms.buscar" class="sidebar-form">        
        <div class="input-group" >            
            <input 
                ng-model="inBuscar.nroGuia"
                type="number" 
                name="frmNroGuia"
                required 
                max="99999999"
                min="1"
                class="form-control"                 
                placeholder="Nro. Guia">
            <span class="input-group-btn">
                <button 
                    ng-click="buscar();"
                    class="btn btn-flat">
                    <i class="fa fa-search text-orange"></i>
                </button>
            </span>            
        </div>
    </form>
        --> 
    <!-- sidebar menu: : style can be found in sidebar.less -->
   
    <ul class="sidebar-menu">
        <li class="header">Opciones</li>
        <li  class="treeview active">            
            <a href="" >                
                <i class="fa fa-paper-plane-o text-orange" aria-hidden="true"></i>                
                <span>Binario</span>
            </a>
            <ul class="treeview-menu">                          
                <li class="">
                    <a href="#/binario">
                        <i class="fa fa-paper-plane text-aqua" aria-hidden="true"></i>
                        <span>binario</span>
                    </a>
                </li>
                <li class="">
                    <a href="#/ca">
                        <!--<i class="fa fa-table " aria-hidden="true"></i>-->
                        <i class="fa fa-share-square-o text-red" aria-hidden="true"></i>
                        <span>Ca 1 y 2</span>
                    </a>
                </li>                
                
                <li class="">
                    <a href="#/exceso">
                        <!--<i class="fa fa-table " aria-hidden="true"></i>-->
                        <i class="fa fa-files-o text-green" aria-hidden="true"></i>
                        <span>Exceso</span>
                    </a>
                </li>                                
            </ul>
        </li>
        
    </ul>
    
</section>
<!-- /.sidebar -->

