<!-- Content Header (Page header) -->
<section ng-show="currentSection.lenght>0" >
    <h1 style="text-transform: capitalize;">
        {{currentSection}}    
        <small >
            {{subText}}
        </small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#/{{backToLink}}"><i class="fa fa-dashboard"></i>{{backName}}</a></li>
        <!--<li class="active">Dashboard</li>-->
    </ol>    
</section>


