
<!-- Logo -->
<a href="#/inicio" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b><i class="fa fa-connectdevelop" aria-hidden="true"></i></b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b><i class="fa fa-connectdevelop" aria-hidden="true"></i> </b>AOC</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation"
     ng-class="{'bg-red':!status.online}">
    
    <!-- Sidebar toggle button-->
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Navegacion</span>
    </a>
    <span style="font-size: 14px; line-height: 50px;"
        ng-show="!status.online">
        Desconectado del Servidor.
    </span>          
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">                      
            <li ng-include=" 'components/head/userView.html' " class="dropdown user user-menu" ></li>            
        </ul>
  </div>
</nav>
