
<a class="dropdown-toggle" data-toggle="dropdown">
    <img ng-src="http://sistema.net.ar/common/profiles/pablo.jpg" class="user-image online" alt="Pablo Garcia Solanellas" />
    <span class="hidden-xs">Pablo</span>
</a>
<ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
        <img ng-src="http://sistema.net.ar/common/profiles/pablo.jpg" alt="Pablo Garcia Solanellas" />
        <p>
           Pablo Garcia            
        </p>
    </li>        
    <li class="user-footer">
      <div class="pull-left">
        <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
      </div>
      <div class="pull-right">
          <a ng-click="cerrarSesion();"
           class="btn btn-default btn-flat">Cerrar Sesion</a>
      </div>
    </li>
</ul>