<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

    <div class="box box-danger">        
        
        <div class="box-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">                
                        <div class="input-group margin-bottom">                    
                            <label class="input-group-addon" > Palabra </label>                
                            <input 
                                ng-change="setWordSize();"
                                ng-model="inEdit.word"        
                                type="number"                                                  
                                required
                                class="form-control text-right" >                                            
                        </div> <!--/.imput-group-->                
                    </div>
                </div>
                <div class="col-md-7">
                    <button class="btn btn-danger btn-flat" 
                            ng-click="setWordSize(8)">
                        8 bits
                    </button>
                    <button class="btn btn-danger btn-flat" 
                            ng-click="setWordSize(16)">
                        16 bits
                    </button>
                    <button class="btn btn-danger btn-flat" 
                            ng-click="setWordSize(32)">
                        32 bits
                    </button>
                    <button class="btn btn-danger btn-flat" 
                            ng-click="setWordSize(64)">
                        64 bits
                    </button>
                </div>
            </div>
            
            <div class="form-group">                
                <div class="input-group margin-bottom">                    
                    <label class="input-group-addon" > Numero </label>                
                    <label class="input-group-addon bg-red"
                            ng-click="addMinus();"> 
                        - 
                    </label>
                    <input 
                        ng-change="convert();"
                        ng-model="inEdit.number"        
                        type="number"                            
                        required
                        class="form-control text-right" >                                            
                </div> <!--/.imput-group-->                
            </div>
        </div>
        
    </div>

    
    <div class="box box-danger">     
        <div class="box-header">
            <h2 class="box-title text-uppercase">Exceso 2 a la n -1</h2>                 
            <h4 class="box-title pull-right text-primary">Rango de reprecentacion: {{inEdit.minimo +  ' a ' + inEdit.maximo}}</h4>
        </div>

        <div class="box-body table-responsive">            
            <h3 class="text-uppercase text-red"
                ng-show="resultados.error!==''">
                {{resultados.error}} 
            </h3> 
            <h4 ng-show="resultados.exceso!=0">
                +Info:  {{ inEdit.number + ' + ' + (inEdit.number>=0? inEdit.maximo : inEdit.minimo) + ' = ' + resultados.exceso }}
            </h4>
            <table class="table-bordered"  ng-show="resultados.error===''">
                <tbody>                        
                    <tr>                    
                        <td class="text-center"                            
                            ng-repeat="_num in resultados.array track by $index">
                            <h1 >
                                &nbsp;{{ _num }}&nbsp;
                            </h1> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  