<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

    <div class="box box-primary">
        
        
        <div class="box-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">                
                        <div class="input-group margin-bottom">                    
                            <label class="input-group-addon" > Palabra </label>                
                            <input 
                                ng-change="convert();"
                                ng-model="inEdit.word"        
                                type="number"                                                  
                                required
                                class="form-control text-right" >                                            
                        </div> <!--/.imput-group-->                
                    </div>
                </div>
                <div class="col-md-7">
                    <button class="btn btn-primary btn-flat" 
                            ng-click="setWordSize(8)">
                        8 bits
                    </button>
                    <button class="btn btn-primary btn-flat" 
                            ng-click="setWordSize(8)">
                        16 bits
                    </button>
                    <button class="btn btn-primary btn-flat" 
                            ng-click="setWordSize(16)">
                        32 bits
                    </button>
                    <button class="btn btn-primary btn-flat" 
                            ng-click="setWordSize(32)">
                        32 bits
                    </button>
                </div>
            </div>
            
            <div class="form-group">                
                <div class="input-group margin-bottom">                    
                    <label class="input-group-addon" > Numero </label>                
                    <label class="input-group-addon bg-blue"
                            ng-click="addMinus();"> 
                        - 
                    </label>
                    <input 
                        ng-change="convert();"
                        ng-model="inEdit.number"        
                        type="number"                            
                        required
                        class="form-control text-right" >                                            
                </div> <!--/.imput-group-->                
            </div>
        </div>
        
    </div>

    
    <div class="box box-danger">     
        <div class="box-header">
            <h2 class="box-title text-uppercase">{{inEdit.number>=0?'Positivo (Ca 1 y 2)':'Negativo - Ca1'}}</h2>                 
        </div>

        <div class="box-body table-responsive">
            <h3 class="text-uppercase"
                ng-show="resultados.error!==''">
                {{resultados.error}} 
            </h3> 

            <table class="table-bordered"  ng-show="resultados.error===''">
                <tbody>                        
                    <tr>                    
                        <td class="text-center"
                            ng-class="{'bg-red':$index == 0}"
                            ng-repeat="_num in resultados.array track by $index">
                            <h1 >
                                &nbsp;{{ _num }}&nbsp;
                            </h1> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
    <div ng-show="inEdit.number<0" 
        class="box box-danger">     
        <div class="box-header">
            <h2 class="box-title text-uppercase">Negativo Ca2</h2>                 
        </div>

        <div class="box-body table-responsive">
            <h3 class="text-uppercase"
                ng-show="resultados.error!==''">
                {{resultados.error}} 
            </h3> 
            {{resultados.ca2Num}}
            <table class="table-bordered"  ng-show="resultados.error===''">
                <tbody>                        
                    <tr>                    
                        <td class="text-center"
                            ng-class="{'bg-red':$index == 0}"
                            ng-repeat="_num in resultados.ca2 track by $index">
                            <h1 >
                                &nbsp;{{ _num }}&nbsp;
                            </h1> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  